{{ $featured_image := partials.Include "func/GetFeaturedImage.html" . }}
{{ if $featured_image }}
  {{ $featured_image_class := site.Params.featured_image_class | compare.Default "cover bg-top" }}
  <header class="{{ $featured_image_class }}" style="background-image: url('{{ $featured_image }}');">
    {{ $cover_dimming_class := site.Params.cover_dimming_class | compare.Default "bg-black-60" }}
    <div class="{{ $cover_dimming_class }}">
      {{ partials.Include "site-navigation.html" . }}
    </div>
  </header>
  <div class="section-hero tc-l pv4 pv6-l ph3 ph4-ns">
    <h1 class="f2 f-subheadline-l fw2 mb0 lh-title" style="color:#333;">{{ .Title | compare.Default .Site.Title }}</h1>
    {{ with .Params.description }}<h2 class="fw1 f5 f3-l measure-wide-l center lh-copy mt3 mb4" style="color:#555;">{{ . }}</h2>{{ end }}
  </div>
{{ else }}
  <header>
    <div class="bg-white">
      {{ partials.Include "site-navigation.html" . }}
    </div>
  </header>
  {{ if and (not .IsHome) (ne .Layout "search") }}
  <div class="section-hero tc-l pv2 ph3 ph4-ns">
    <h1 class="f4 fw2 light-silver mb0 lh-title">{{ .Title | compare.Default .Site.Title }}</h1>
    {{ with .Params.description }}<h2 class="fw1 f6 measure-wide-l center lh-copy mt1 mb2 mid-gray">{{ . }}</h2>{{ end }}
  </div>
  {{ end }}
{{ end }}
